# Dependency directories
/node_modules
/frontend/node_modules
/lib
/lib/forge-std
/cache
/out

# Environment variables
.env
.secret

# Test report files
/test/coverage.json
/test/coverage/

# Misc
.DS_Store
